@import "tailwindcss";

/* Light theme variables */
:root {
  --bg-color: #17cfd2;
  --card-color: #ffffff;
  --text-color: #111827;
}

/* Dark theme variables */
[data-theme="dark"] {
  --bg-color: #0f172a;
  --card-color: #1e293b;
  --text-color: #f9fafb;
}

/* Transition effect */
body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
}